<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <img src="{{ url_for('static', filename='images/biocam.png') }}" alt="Logo" style="width: 110px; height: 60px; padding:0 16px;">
            Biocam: Face Recognition
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{url_for('bp.register')}}">Registrar</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('bp.login')}}">Login</a></li>
            </ul>
            <a href="{{ url_for('bp.logout') }}" class="btn btn-danger my-2 my-sm-0">Logout</a> <!-- Botão de Logout -->
        </div>
    </nav>
    <div class="container">
        <h2>Bem-vindo ao Dashboard!</h2>
        <p>Você está logado como:{{email}}.</p>
          <!-- Exibir Foto do Usuário -->
        <div class="avatar">
            <img src="{{ url_for('bp.uploads', filename=filename) }}" alt="Foto do Usuário" class="img-fluid" style="max-width: 150px; border-radius: 50%;">
        </div>
    </div>
</body>
</html>